<div class="popup-holder">
    <button ng-click="imgPopCtrl.gray()">Gray</button>
    <button ng-click="imgPopCtrl.sepia()">Sepia</button>
    <button ng-click="imgPopCtrl.reset()">Reset</button>
    <button ng-click="imgPopCtrl.submit()" class="pull-right">OK</button>
    <div class="cropArea">
        <img-crop image="imgPopCtrl.img" result-image="imgPopCtrl.myCroppedImage" accept="image/*"></img-crop>
    </div>
    <div>Cropped Image:</div>
    <div><img ng-src="{{imgPopCtrl.myCroppedImage}}" /></div>
</div>