<div class=" col-lg-6 col-md-6 col-sm-6">
    <div class="chat-box-div">
        <div class="chat-box-head">
            <div ng-if="chatCtrl.isChatActive" >
                    <a ng-click="chatCtrl.closeRoom(u)" class="btn btn-success">Leave chat</a>
                    <div img-api class="pull-right"></div>
            </div>
            
        </div>
        <div class="panel-body chat-box-main" ng-show="chatCtrl.isChatActive">
            <div ng-repeat="m in chatCtrl.messages | orderBy:sortByDate:false" class="bounceInUp">
                <div ng-if="m.type == 'message'" ng-class="m.user._id == chatCtrl.user._id ? 'chat-box-right' : 'chat-box-left'">
                    {{m.message}}
                </div>
                <img ng-if="m.type == 'photo'" ng-src="{{m.message}}"></img>
                <div ng-class="m.user._id == chatCtrl.user._id ? 'chat-box-name-right' : 'chat-box-name-left'">
                    <img ng-src="{{m.user.picture}}" alt="User img" class="img-circle chat-box-img" /> {{m.user.displayName}}
                    <small class="chat-box-time">{{chatCtrl.timeFormater(m.date)}}</small>
                </div>
                <hr class="hr-clas" />
            </div>
            <div class="chat-box-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Text Here..." ng-model="chatCtrl.message">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" ng-click="chatCtrl.sendMessage()">SEND</button>
                    </span>
                </div>
            </div>
            
        </div>
        <div class="panel-body chat-box-online" ng-show="!chatCtrl.isChatActive">
            <div ng-repeat="u in chatCtrl.users">
                <div class="chat-box-online-left">
                    <img ng-src="{{u.picture}}" alt="User img" class="img-circle chat-box-img" /> {{u.displayName}}
                    <a ng-click="chatCtrl.createRoom(u)" class="btn pull-right">Create</a>
                    <br />
                </div>
                <hr class="hr-clas-low" />
            </div>
        </div>

    </div>
</div>